node_modules
dist# Logs
logs
*.log
pnpm-debug.log*

# Dist
dist/
output/

# Npm
/node_modules

# MacOS
.DS_Store

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Env
.env
.env.*
!.env.example

.vsix
.DS_Store
